@import './pages.css';
@import "tailwindcss";

@font-face {
  font-family: 'AlteHaas';
  src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairItalic';
  src: url('../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair';
  src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #0061D7;
  --maroon: #5D0062;
  --ui-top: 7vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto; /* GSAP handles scrolling */
}

body {
  font-family: 'AlteHaas', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #000000;
  background-color: #FCFCFE;
  /* background-image:
    linear-gradient(to right, rgba(0, 34, 255, 0.05) 0.5px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 34, 255, 0.08) 1px, transparent 1px);
  background-size: 25px 25px; */
}

#root {
  min-height: 100vh;
}
