@import './pages.css';
@import "tailwindcss";

@font-face {
  font-family: 'AlteHaas';
  src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeFonteDemiGras';
  src: url('../assets/fonts/DeFonte reduced DemiGras.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeFonte';
  src: url('../assets/fonts/DeFonte reduced Normale.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #0022FF;
  --maroon: #8E0931;
  --ui-top: 7vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto; /* GSAP handles scrolling */
}

body {
  font-family: 'AlteHaas', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #000000;
  background-color: #FCFAFF;
  background-image:
    linear-gradient(to right, rgba(0, 34, 255, 0.25) 0.5px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 34, 255, 0.1) 1px, transparent 1px);
  background-size: 25px 25px;
}

#root {
  min-height: 100vh;
}
